$orange: #EEA240;
$white: #FFF;
$black: #000;
$white-opacity: rgba(255, 255, 255, 0.5);
$light-blue: #009ADF;
$light-blue-3: #48CADC;
$light-blue-4: #7BC0CC;
$light-blue-5: #1ABBD2;
$light-blue-dark: #059;
$black: #000;
$black-light: #222;
$gray: #CCC;
$gray-light: #A1A1A1;
$gray-light-2: #EEE;
$gray-2: #F8F8F8;
$gray-dark: #666;
$gray-dark-2: #444;
$gray-dark-3: #EEEEEE;
$gray-dark-3-transparent: rgba($gray-dark-2, 0.1);
$gray-dark-4: #212121;
$shadow: rgba(221, 221, 221, 0.5);
$transparent: transparent;
$red-dark: #EA4E4F;
$red-light-2: #F06661;
$red-light-2-hover: rgba(240, 102, 97, 0.2);
$red-light: #D0021B;
$blue-dark: #164161;
$blue-dark-2: #0F2C41;
$blue-dark-3: #164161;
$gray: #999;
$gray-dark: #4A4A4A;
$green: #50B1B6
