.scheduler-container {
  height: 100vh;

  .option-filter {
    border: solid 1px;
    border-radius: 0;
    font-style: italic;
    height: 30px;
    padding-left: 10px;
    width: 50%;
  }

  .options-container {
    height: 50%;
    overflow: scroll;

    .option {
      background-color: white;
      border: 1px solid;
      height: 40px;
      width: 100%;
    }
  }
}